#navbar{
    background-color:black;
    margin-top:30px;
}
ul{
    font-size: 20px;
    
}

li{
    display:inline;
    float:right;
    margin-right:30px;
    
}

#logo_li{
    float:left;
    
}

#logo_img{
    width:150px;
}

#maincontainer{
    display:block;
    clear:both;
    text-align:center;
}